{% extends 'base.html' %}

{% block title %}
Animal Facts
{% endblock %}

{% block content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
    <fieldset>
        <legend>Your Info:</legend>

        <label>
            Which animal do you want facts on?

            <!-- TODO: Use a for loop to show one option element for each 
                animal. -->
            <select name="animal">
                <option value="none">None</option>
                {% for key, value in list_animal.items() %}
                    <option value="{{key}}">{{key}}</option>
                {% endfor %}
            </select>
        </label>

        <input type="submit" value="Get Fact!">
    </fieldset>
</form>

<!-- TODO: If an animal was chosen, show the section below with the appropriate 
    animal fact. -->
{% if picked_animal in list_animal %}
    <section id="form_results">
        <p>
            Here is your {{picked_animal}} fact:
        </p>
        <br>
        <p>
            {{list_animal[picked_animal]}}
        </p>
    </section>
{% elif chosen_animal == "none" %}
    <p>No Animal was picked</p>
{% endif %}

{% endblock %}